# Challenge 1 - Tic Tac Toe

In this lab you will perform deep learning analysis on a dataset of playing [Tic Tac Toe](https://en.wikipedia.org/wiki/Tic-tac-toe).

There are 9 grids in Tic Tac Toe that are coded as the following picture shows:

![Tic Tac Toe Grids](tttboard.jpg)

In the first 9 columns of the dataset you can find which marks (`x` or `o`) exist in the grids. If there is no mark in a certain grid, it is labeled as `b`. The last column is `class` which tells you whether Player X (who always moves first in Tic Tac Toe) wins in this configuration. Note that when `class` has the value `False`, it means either Player O wins the game or it ends up as a draw.

Follow the steps suggested below to conduct a neural network analysis using Tensorflow and Keras. You will build a deep learning model to predict whether Player X wins the game or not.

## Step 1: Data Engineering

This dataset is almost in the ready-to-use state so you do not need to worry about missing values and so on. Still, some simple data engineering is needed.

1. Read `tic-tac-toe.csv` into a dataframe.
1. Inspect the dataset. Determine if the dataset is reliable by eyeballing the data.
1. Convert the categorical values to numeric in all columns.
1. Separate the inputs and output.
1. Normalize the input data.

In [78]:
import pandas as pd
import numpy as np

ttt = pd.read_csv("./tic-tac-toe.csv")

In [79]:
# your code here

ttt.head()

  TL TM TR ML MM MR BL BM BR  class
0  x  x  x  x  o  o  x  o  o   True
1  x  x  x  x  o  o  o  x  o   True
2  x  x  x  x  o  o  o  o  x   True
3  x  x  x  x  o  o  o  b  b   True
4  x  x  x  x  o  o  b  o  b   True

In [80]:
ttt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 958 entries, 0 to 957
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   TL      958 non-null    object
 1   TM      958 non-null    object
 2   TR      958 non-null    object
 3   ML      958 non-null    object
 4   MM      958 non-null    object
 5   MR      958 non-null    object
 6   BL      958 non-null    object
 7   BM      958 non-null    object
 8   BR      958 non-null    object
 9   class   958 non-null    bool
dtypes: bool(1), object(9)
memory usage: 68.4+ KB

In [81]:
ttt.describe()

         TL   TM   TR   ML   MM   MR   BL   BM   BR class
count   958  958  958  958  958  958  958  958  958   958
unique    3    3    3    3    3    3    3    3    3     2
top       x    x    x    x    x    x    x    x    x  True
freq    418  378  418  378  458  378  418  378  418   626

In [82]:
ttt["class"] = ttt["class"].astype("category").cat.codes

In [83]:
ttt.head()

  TL TM TR ML MM MR BL BM BR  class
0  x  x  x  x  o  o  x  o  o      1
1  x  x  x  x  o  o  o  x  o      1
2  x  x  x  x  o  o  o  o  x      1
3  x  x  x  x  o  o  o  b  b      1
4  x  x  x  x  o  o  b  o  b      1

In [84]:
from sklearn.preprocessing import OneHotEncoder

In [85]:
ttt_x = ttt.drop("class", axis=1)

In [86]:
# Initialize the OneHotEncoder with sparse=False
encoder = OneHotEncoder(sparse_output=False)

# Fit and transform the data
encoded_data = encoder.fit_transform(ttt_x)

# Get the feature names
feature_names = encoder.get_feature_names_out(ttt_x.columns)

# Create a DataFrame with the encoded data
ttt_c = pd.DataFrame(encoded_data, columns=feature_names)

print(ttt_c.head())

   TL_b  TL_o  TL_x  TM_b  TM_o  TM_x  TR_b  TR_o  TR_x  ML_b  ...  MR_x  \
0   0.0   0.0   1.0   0.0   0.0   1.0   0.0   0.0   1.0   0.0  ...   0.0
1   0.0   0.0   1.0   0.0   0.0   1.0   0.0   0.0   1.0   0.0  ...   0.0
2   0.0   0.0   1.0   0.0   0.0   1.0   0.0   0.0   1.0   0.0  ...   0.0
3   0.0   0.0   1.0   0.0   0.0   1.0   0.0   0.0   1.0   0.0  ...   0.0
4   0.0   0.0   1.0   0.0   0.0   1.0   0.0   0.0   1.0   0.0  ...   0.0

   BL_b  BL_o  BL_x  BM_b  BM_o  BM_x  BR_b  BR_o  BR_x
0   0.0   0.0   1.0   0.0   1.0   0.0   0.0   1.0   0.0
1   0.0   1.0   0.0   0.0   0.0   1.0   0.0   1.0   0.0
2   0.0   1.0   0.0   0.0   1.0   0.0   0.0   0.0   1.0
3   0.0   1.0   0.0   1.0   0.0   0.0   1.0   0.0   0.0
4   1.0   0.0   0.0   0.0   1.0   0.0   1.0   0.0   0.0

[5 rows x 27 columns]

In [87]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
normalized_data = scaler.fit_transform(ttt_c)

# If you want it as a DataFrame again
ttt_c = pd.DataFrame(normalized_data, columns=encoder.get_feature_names_out())

In [88]:
ttt_c.head()

,TL_b,TL_o,TL_x,TM_b,TM_o,TM_x,TR_b,TR_o,TR_x,ML_b,...,MR_x,BL_b,BL_o,BL_x,BM_b,BM_o,BM_x,BR_b,BR_o,BR_x
0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [89]:
X = ttt_c
y = ttt["class"]

## Step 2: Build Neural Network

To build the neural network, you can refer to your own codes you wrote while following the [Deep Learning with Python, TensorFlow, and Keras tutorial](https://www.youtube.com/watch?v=wQ8BIBpya2k) in the lesson. It's pretty similar to what you will be doing in this lab.

1. Split the training and test data.
1. Create a `Sequential` model.
1. Add several layers to your model. Make sure you use ReLU as the activation function for the middle layers. Use Softmax for the output layer because each output has a single lable and all the label probabilities add up to 1.
1. Compile the model using `adam` as the optimizer and `sparse_categorical_crossentropy` as the loss function. For metrics, use `accuracy` for now.
1. Fit the training data.
1. Evaluate your neural network model with the test data.
1. Save your model as `tic-tac-toe.model`.

In [91]:
# your code here

import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.model_selection import train_test_split

#Split data
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

#Create Model
model = Sequential()

#create First and middle Layers
model.add(Dense(64, activation = "relu", input_shape = (27,)))
model.add(Dense(32, activation='relu'))  # Hidden layer with 32 neurons
model.add(Dense(16, activation='relu'))  # Hidden layer with 16 neurons

#create Output Layer
model.add(Dense(10, activation='softmax'))  # Output layer with 10 classes


#Compile the model
model.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])

#Train the model
tttnn = model.fit(X_train, y_train, epochs = 20, batch_size=32, validation_data=(X_test, y_test))

# Evaluate the model
test_loss, test_acc = model.evaluate(X_test, y_test)

# Save the model
model.save('tic-tac-toe.model.keras')

Epoch 1/20

c:\Users\dusan\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

24/24 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - accuracy: 0.3364 - loss: 1.7239 - val_accuracy: 0.4740 - val_loss: 0.9315
Epoch 2/20
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5769 - loss: 0.7989 - val_accuracy: 0.6979 - val_loss: 0.5831
Epoch 3/20
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7036 - loss: 0.5966 - val_accuracy: 0.7708 - val_loss: 0.5537
Epoch 4/20
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7240 - loss: 0.5526 - val_accuracy: 0.7240 - val_loss: 0.5259
Epoch 5/20
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7856 - loss: 0.4965 - val_accuracy: 0.7448 - val_loss: 0.4932
Epoch 6/20
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7413 - loss: 0.4692 - val_accuracy: 0.7604 - val_loss: 0.4650
Epoch 7/20
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7526 - loss: 0.4647 - val_accuracy: 0.7865 - val_loss: 0.4669
Epoch 8/20
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7924 - loss: 0.4216 - val_accuracy: 0.8177 - val_loss: 0.4132
Epoch 9/20
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8421 - loss: 0.3718 - val_accuracy: 0.8281 - val_loss: 0.3649
Epoch 10/20
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8624 - loss: 0.3257 - val_accuracy: 0.8854 - val_loss: 0.3243
Epoch 11/20
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9199 - loss: 0.2685 - val_accuracy: 0.9219 - val_loss: 0.2630
Epoch 12/20
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9392 - loss: 0.2248 - val_accuracy: 0.9479 - val_loss: 0.2180
Epoch 13/20
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9614 - loss: 0.1780 - val_accuracy: 0.9740 - val_loss: 0.1681
Epoch 14/20
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9779 - loss: 0.1285 - val_accuracy: 0.9688 - val_loss: 0.1540
Epoch 15/20
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9881 - loss: 0.1103 - val_accuracy: 0.9740 - val_loss: 0.1121
Epoch 16/20
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9820 - loss: 0.0811 - val_accuracy: 0.9740 - val_loss: 0.1157
Epoch 17/20
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9878 - loss: 0.0691 - val_accuracy: 0.9740 - val_loss: 0.0832
Epoch 18/20
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9938 - loss: 0.0514 - val_accuracy: 0.9740 - val_loss: 0.0761
Epoch 19/20
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9951 - loss: 0.0452 - val_accuracy: 0.9792 - val_loss: 0.0694
Epoch 20/20
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9954 - loss: 0.0389 - val_accuracy: 0.9792 - val_loss: 0.0633
6/6 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9659 - loss: 0.0722

## Step 3: Make Predictions

Now load your saved model and use it to make predictions on a few random rows in the test dataset. Check if the predictions are correct.

In [98]:
# your code here
from keras.models import load_model

# Load the model
model = load_model("./tic-tac-toe.model.keras")

In [99]:
model.predict(X_test)
predicted_classes = model.predict(X_test).argmax(axis=-1)

6/6 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
6/6 ━━━━━━━━━━━━━━━━━━━━ 0s 861us/step

In [100]:
test_loss, test_acc = model.evaluate(X_test, y_test)

print(f"Test Accuracy: {test_acc}")

6/6 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9659 - loss: 0.0722
Test Accuracy: 0.9791666865348816

In [111]:
# Test the model on the first row of the test set using iloc

import random

for n in range(10):
    i = random.randint(0,200)
    row = X_test.iloc[i].values.reshape(1, -1)  # Use iloc and reshape for model input
    prediction = model.predict(row)

    # Print the predicted output
    print("Predicted output:", prediction)


    # Get the predicted class
    predicted_class = prediction.argmax(axis=-1)

    # Get the actual class
    actual_class = y_test.iloc[i]

    print(f"Predicted class: {predicted_class}")
    print(f"Actual class: {actual_class}")

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step
Predicted output: [[9.5132327e-01 4.8503023e-02 7.7491932e-06 6.8051281e-06 1.9626197e-05
  1.1465380e-04 1.4285764e-06 1.9949898e-06 1.3667774e-06 2.0067071e-05]]
Predicted class: [0]
Actual class: 0
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step
Predicted output: [[9.9099964e-01 8.9952471e-03 3.1285981e-07 8.8512003e-08 9.6437191e-07
  3.4241673e-06 1.7134662e-08 4.4173081e-08 1.5905933e-08 2.5296129e-07]]
Predicted class: [0]
Actual class: 0
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step
Predicted output: [[9.74109948e-01 2.58180499e-02 5.18640809e-06 3.22057190e-06
  1.17167565e-05 4.48144165e-05 5.96871985e-07 8.01636247e-07
  5.61200409e-07 5.01858676e-06]]
Predicted class: [0]
Actual class: 0
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step
Predicted output: [[3.3823962e-03 9.9658978e-01 3.8420690e-06 3.0023094e-07 7.6057478e-07
  1.9557596e-05 9.5044150e-08 2.6242682e-07 6.0957905e-07 2.4139597e-06]]
Predicted class: [1]
Actual class: 1
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step
Predicted output: [[9.9666816e-01 3.2947480e-03 3.0461531e-06 1.5541558e-06 1.0108366e-05
  1.9078263e-05 3.6255904e-07 5.0459329e-07 1.5393293e-07 2.3366315e-06]]
Predicted class: [0]
Actual class: 0
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step
Predicted output: [[2.3474837e-04 9.9975985e-01 8.2882434e-07 3.3034301e-08 6.8931790e-08
  3.8974999e-06 7.9269622e-09 3.4684422e-08 1.3047453e-07 3.3201241e-07]]
Predicted class: [1]
Actual class: 1
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step
Predicted output: [[9.9924111e-01 7.4401684e-04 4.3516104e-07 2.6450016e-07 3.2899829e-06
  9.6913373e-06 1.1223101e-07 2.5429870e-07 5.2422529e-08 6.9002192e-07]]
Predicted class: [0]
Actual class: 0
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step
Predicted output: [[1.0145688e-02 9.8962885e-01 4.3009921e-05 5.8832602e-06 9.1791117e-06
  1.2642235e-04 1.4428635e-06 4.3086134e-06 1.5125270e-05 2.0074704e-05]]
Predicted class: [1]
Actual class: 1
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step
Predicted output: [[2.5629017e-01 7.4341434e-01 2.4177516e-05 2.8852310e-06 1.5714826e-05
  2.2389236e-04 1.5548999e-06 5.7983939e-06 5.7774300e-06 1.5668958e-05]]
Predicted class: [1]
Actual class: 1
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step
Predicted output: [[1.3967596e-03 9.9837959e-01 5.7306526e-05 6.7166461e-06 6.7885458e-06
  1.1129870e-04 1.8767468e-06 3.0283538e-06 9.7602851e-06 2.6851703e-05]]
Predicted class: [1]
Actual class: 1

## Step 4: Improve Your Model

Did your model achieve low loss (<0.1) and high accuracy (>0.95)? If not, try to improve your model.

But how? There are so many things you can play with in Tensorflow and in the next challenge you'll learn about these things. But in this challenge, let's just do a few things to see if they will help.

* Add more layers to your model. If the data are complex you need more layers. But don't use more layers than you need. If adding more layers does not improve the model performance you don't need additional layers.
* Adjust the learning rate when you compile the model. This means you will create a custom `tf.keras.optimizers.Adam` instance where you specify the learning rate you want. Then pass the instance to `model.compile` as the optimizer.
    * `tf.keras.optimizers.Adam` [reference](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Adam).
    * Don't worry if you don't understand what the learning rate does. You'll learn about it in the next challenge.
* Adjust the number of epochs when you fit the training data to the model. Your model performance continues to improve as you train more epochs. But eventually it will reach the ceiling and the performance will stay the same.

In [ ]:
# your code here

**Which approach(es) did you find helpful to improve your model performance?**

In [ ]:
# your answer here